$widthS: 1601px;
body{
  margin: 0;
  padding: 0;
  position: relative;
}
.header_back {
  background-color: RGB(159 154 207);
  height: 1070px;
  width: $widthS;

  &_menu {
    margin-left: 245px;
    display: flex;
  }
  &_logo {
    width: 54px;
    height: 72px;
    padding-top: 35px;

  }
  .menu {
    display: flex;
    justify-content: flex-end;
  }
  .menu a {
    color: black;
    text-decoration: none;
    font-size: 22px;
    line-height: 18px;
    display: block;

  }
}
