body {
  margin: 0;
  padding: 0;
  position: relative; }
  body header {
    background-image: url("../img/DeathtoStock_Wired7.svg");
    background-color: RGB(159 154 207);
    height: 1070px;
    width: 100%; }
    body header .main {
      margin-left: 245px;
      margin-right: 245px; }
      body header .main_logo {
        width: 54px;
        height: 72px;
        padding-top: 35px;
        position: absolute; }
      body header .main_menu {
        display: flex;
        justify-content: flex-end;
        padding-top: 57px;
        margin-left: 758px; }
      body header .main_menu a {
        color: white;
        text-decoration: none;
        font-size: 22px;
        line-height: 18px;
        display: block;
        padding-left: 30px; }
    body header .Title {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 950px;
      height: 90px;
      margin-top: 334px;
      margin-left: 325px;
      margin-right: 327px; }
      body header .Title_big {
        font-size: 62px;
        line-height: 60px;
        color: white;
        font-weight: bold;
        margin-bottom: -62px; }
      body header .Title_small {
        font-size: 30px;
        color: white;
        font-family: "P TSans";
        font-style: italic;
        text-align: center;
        position: relative; }
  body .about {
    height: 800px;
    width: 100%;
    overflow: hidden;
    background-color: RGB(235 235 235);
    display: flex;
    justify-content: space-between; }
    body .about_pic {
      background-image: url("../img/DeathtoStock_Wired8.svg");
      background-color: RGB(159 154 207);
      height: 550px;
      width: 380px;
      background-size: cover;
      background-position-x: 10%;
      margin-top: 130px;
      margin-left: 215px;
      margin-right: 120px;
      display: flex;
      flex-direction: column;
      align-items: center; }
    body .about .pic_icon {
      margin-top: 70px; }
    body .about .pic_text {
      margin-top: 40px;
      color: white;
      font-size: 36px;
      line-height: 47px;
      font-weight: bold; }
    body .about_container {
      height: 350px;
      width: 633px;
      margin-top: 202px;
      margin-right: 250px; }
    body .about .container {
      display: flex;
      flex-direction: column;
      align-items: center; }
      body .about .container_button {
        width: 192px;
        height: 50px;
        margin-top: 50px;
        border: 1px solid black;
        background-image: none;
        background: transparent; }
  body .services {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: row; }
    body .services .TextCont {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 100px; }
    body .services .textTittle {
      font-size: 24px;
      color: #665f60;
      font-family: "P TSans";
      font-weight: bold;
      display: flex;
      justify-content: center; }
    body .services .textTittle3 {
      font-size: 36px;
      color: #fefcfd;
      font-family: "Proxima Nova";
      font-weight: bold;
      text-align: center; }
    body .services .textDesc {
      width: 200px;
      height: 90px;
      font-size: 18px;
      color: #665f60;
      font-family: "P TSans";
      font-style: italic;
      text-align: center; }
    body .services .textDesc3 {
      width: 352px;
      height: 89px;
      font-size: 18px;
      color: #fefcfd;
      font-family: "P TSans";
      font-style: italic;
      text-align: center;
      margin-top: 90px; }
    body .services_cont1 {
      display: flex;
      flex-direction: column;
      padding-left: 210px; }
      body .services_cont1 .cont1 {
        min-height: 400px;
        width: 382px; }
        body .services_cont1 .cont1_graphic {
          height: 50%;
          width: 382px;
          background-color: RGB(219, 219, 219); }
        body .services_cont1 .cont1_web {
          height: 50%;
          width: 382px;
          background-color: RGB(235, 235, 235); }
    body .services_cont2 {
      display: flex;
      flex-direction: column;
      min-height: 400px; }
      body .services_cont2 .cont2 {
        height: 50%;
        width: 382px; }
        body .services_cont2 .cont2_seo {
          height: 50%;
          width: 382px;
          background-color: RGB(235, 235, 235); }
        body .services_cont2 .cont2_mobile {
          height: 50%;
          width: 382px;
          background-color: RGB(219, 219, 219); }
    body .services_cont3 {
      width: 382px;
      height: 800px;
      margin-right: 210px;
      background-color: RGB(159 154 207);
      background-image: url("../img/Mac.svg");
      background-position: -475px; }
  body .Recent-Works {
    width: 100%;
    height: 990px;
    background-color: #9f9acf;
    background-image: url("../img/DeathtoStock_Wired3.svg");
    display: flex;
    flex-direction: column;
    align-items: center; }
    body .Recent-Works .Works_head {
      margin-top: 50px;
      margin-bottom: 60px;
      height: 150px;
      width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white; }
    body .Recent-Works .Works_button {
      width: 192px;
      height: 50px;
      margin-top: 50px;
      border: 1px solid white;
      background-image: none;
      background-color: #fefcfd; }
